apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: hive-operator-role
rules:
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  - serviceaccounts/finalizers
  - secrets
  - secrets/finalizers
  - services
  - services/finalizers
  - events
  - configmaps
  - namespaces
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - apiregistration.k8s.io
  resources:
  - apiservices
  - apiservices/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  - mutatingwebhookconfigurations
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - apps
  resources:
  - deployments
  - deployments/finalizers
  - daemonsets
  - daemonsets/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - hive.openshift.io
  resources:
  - hiveconfigs
  - hiveconfigs/finalizers
  - hiveconfigs/status
  - clusterdeployments
  - dnszones
  - dnsendpoints
  - selectorsyncidentityproviders
  - selectorsyncsets
  - syncidentityproviders
  - syncsetinstances
  - syncsetinstances/status
  - syncsets
  - clusterimagesets
  - clusterdeprovisionrequests
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
# Allow get on CRDs so we can check for 4.x ClusterVersion to determine if running on 3.11 or not.
# Allow create and update until the OLM CRD update bug is fixed.
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  # NOTE: delete not being granted as it should not be necessary and would be destructive
# Allow creating ClusterRoles and Bindings for the hive-admin role.
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterroles
  - clusterrolebindings
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - authorization.openshift.io
  resources:
  - clusterroles
  - clusterrolebindings
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  - pods/log
  verbs:
  - get
  - list
  - watch
