apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.1
  labels:
    contracts.hive.openshift.io/clusterinstall: "false"
  name: clusterprovisions.hive.openshift.io
spec:
  group: hive.openshift.io
  names:
    kind: ClusterProvision
    listKind: ClusterProvisionList
    plural: clusterprovisions
    singular: clusterprovision
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.clusterDeploymentRef.name
      name: ClusterDeployment
      type: string
    - jsonPath: .spec.stage
      name: Stage
      type: string
    - jsonPath: .spec.infraID
      name: InfraID
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: ClusterProvision is the Schema for the clusterprovisions API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: ClusterProvisionSpec defines the results of provisioning
              a cluster.
            properties:
              adminKubeconfigSecretRef:
                description: AdminKubeconfigSecretRef references the secret containing
                  the admin kubeconfig for this cluster.
                properties:
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              adminPasswordSecretRef:
                description: AdminPasswordSecretRef references the secret containing
                  the admin username/password which can be used to login to this cluster.
                properties:
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              attempt:
                description: Attempt is which attempt number of the cluster deployment
                  that this ClusterProvision is
                type: integer
              clusterDeploymentRef:
                description: ClusterDeploymentRef references the cluster deployment
                  provisioned.
                properties:
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              clusterID:
                description: ClusterID is a globally unique identifier for this cluster
                  generated during installation. Used for reporting metrics among
                  other places.
                type: string
              infraID:
                description: InfraID is an identifier for this cluster generated during
                  installation and used for tagging/naming resources in cloud providers.
                type: string
              installLog:
                description: InstallLog is the log from the installer.
                type: string
              metadata:
                description: |-
                  Metadata is the metadata.json generated by the installer, providing metadata information about the cluster created.
                  NOTE: This is not used because it didn't work (it was always empty). We think because the thing it's storing
                  (ClusterMetadata from installer) is not a runtime.Object, so can't be put in a RawExtension.
                type: object
                x-kubernetes-preserve-unknown-fields: true
              metadataJSON:
                description: |-
                  MetadataJSON is a JSON representation of the ClusterMetadata produced by the installer. We don't use a
                  runtime.RawExtension because ClusterMetadata isn't a runtime.Object. We don't use ClusterMetadata itself
                  because we don't want our API consumers to need to pull in the installer code and its dependencies.
                format: byte
                type: string
              prevClusterID:
                description: PrevClusterID is the cluster ID of the previous failed
                  provision attempt.
                type: string
              prevInfraID:
                description: PrevInfraID is the infra ID of the previous failed provision
                  attempt.
                type: string
              prevProvisionName:
                description: PrevProvisionName is the name of the previous failed
                  provision attempt.
                type: string
              stage:
                description: Stage is the stage of provisioning that the cluster deployment
                  has reached.
                type: string
            required:
            - attempt
            - clusterDeploymentRef
            - podSpec
            - stage
            type: object
            x-kubernetes-preserve-unknown-fields: true
          status:
            description: ClusterProvisionStatus defines the observed state of ClusterProvision.
            properties:
              conditions:
                description: Conditions includes more detailed status for the cluster
                  provision
                items:
                  description: ClusterProvisionCondition contains details for the
                    current condition of a cluster provision
                  properties:
                    lastProbeTime:
                      description: LastProbeTime is the last time we probed the condition.
                      format: date-time
                      type: string
                    lastTransitionTime:
                      description: LastTransitionTime is the last time the condition
                        transitioned from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: Message is a human-readable message indicating
                        details about last transition.
                      type: string
                    reason:
                      description: Reason is a unique, one-word, CamelCase reason
                        for the condition's last transition.
                      type: string
                    status:
                      description: Status is the status of the condition.
                      type: string
                    type:
                      description: Type is the type of the condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              jobRef:
                description: JobRef is the reference to the job performing the provision.
                properties:
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                type: object
                x-kubernetes-map-type: atomic
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
