apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: external-dns
rules:
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - watch
  - list
- apiGroups:
  - hive.openshift.io
  resources:
  - dnsendpoints
  - dnsendpoints/status
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
